body{
    background-color: #f3f4f5;
}
.navbar{
  background-color: blueviolet;
}
.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.ofcanvas-title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h5{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
.jumbotron{
    padding-top: 6rem;
    background-color: #f4dfff;
    text-align: center;
}
.jumbotron img{
    width: 200px;
}
#projects{
    background-color: #f4dfff;
}
#contact{
    background-color: #f4dfff;
   
}
.btn{
    background-color: blueviolet;
    color: white;
}
footer{
    background-color: #f3f4f5;
    color: black;
    height: 50px;
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp 
{
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animate__fadeInUp 
{
  animation-name: fadeInUp;
}
