body{
    background-color: #f3f4f5;
  margin: 0;
  padding: 0;
}

/* Style untuk SVG */
svg {
  display: block; /* Agar SVG menjadi blok-level element */
  margin-bottom: -1px; /* Sesuaikan nilai margin-bottom sesuai kebutuhan */
}

/* Style untuk footer */
footer {
  background-color: blueviolet; /* Ganti warna latar belakang sesuai kebutuhan */
  color: white; /* Ganti warna teks sesuai kebutuhan */
  text-align: center;
  padding: 10px; /* Sesuaikan nilai padding sesuai kebutuhan */
  height: 50px;
}
.navbar{
  background-color: blueviolet;
  }
.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.ofcanvas-title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h5{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
section{
  padding-top: 4rem;
}
.jumbotron{
    padding-top: 6rem;
    background-color: #eed3fc;
    text-align: center;
}
.jumbotron img{
    width: 200px;
}
#project{
    background-color: #eed3fc;
}
#sertifikat{
  background-color: #eed3fc;
}
#contact{
    background-color: #f3f4f5;
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp 
{
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animate__fadeInUp 
{
  animation-name: fadeInUp;
}
